<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sean.rao.fusion_auth">

    <!--允许访问网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许修改网络状态的权限-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--允许修改 WIFI 状态的权限。-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--允许访问 WIFI 状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--  跳转原生调用flutter时页面的样式  -->
    <application
        android:supportsRtl="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:exported="false" android:name="com.alicom.fusion.auth.numberauth.FusionNumberAuthActivity" android:screenOrientation="portrait" android:theme="@style/NumberAuthTheme"/>
        <activity android:exported="false" android:name="com.alicom.fusion.auth.upsms.AlicomFusionUpSmsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.alicom.fusion.auth.smsauth.FusionSmsActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.mobile.auth.gatewayauth.LoginAuthActivity" android:screenOrientation="behind" android:theme="@style/authsdk_activity_dialog"/>
        <activity android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:launchMode="singleTop" android:name="com.mobile.auth.gatewayauth.PrivacyDialogActivity" android:screenOrientation="behind" android:theme="@style/authsdk_activity_dialog"/>

        <activity
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|fontScale"
            android:exported="false"
            android:name="com.sean.rao.fusion_auth.view.CustomWebViewActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="com.sean.rao.fusion_auth"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
